@charset "UTF-8";

/* ν—¤λ” */
.hd_top {
    height: 96px;
}

.hd_top .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.logo {
    color: #000;
    font-size: var(--font-x-large);
    font-weight: 600;
}

.hd_util span {
    padding: 0 0 0 30px;
}

.hd_util span a {
    color: #000;
    font-size: var(--font-medium);
    font-weight: 600;
}

.gnb {
    height: 56px;
    background: #d9d9d9;
}

.gnb .depth1 {
    display: flex;
    align-items: center;
    height: 56px;
    color: #000;
    font-size: 21px;
    font-weight: 400;
}

.gnb .depth1 li:not(:first-child) {
    margin: 0 0 0 42px;
}

/* ν‘Έν„° */
.footer {
    height: 180px;
    margin: 100px 0 0;
    background: #FFF;
    border-top: 1px solid #D9D9D9;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    padding: 43px 0;
}

.footer-left address {
    color: #777;
    font-size: var(--font-small);
    font-weight: 600;
}

.footer-left address p:nth-child(1) {
    margin: 15px 0 0;
}

.footer-left address p:nth-child(2) {
    margin: 12px 0 0;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right ul {
    display: flex;
}

.footer-right ul li {
    color: var(-color-black);
    font-size: var(--font-small);
    font-weight: 600;
    margin: 0 0 0 50px;
}